
<div class="fixed-button">
  <button routerLink="/ticket-list" class="back-button">Revenir à la liste</button>
</div>

@if (loading) {
  <div class="loading">Loading...</div>
}@if (errorMessage) {
  <div class="error">{{ errorMessage }}</div>
}

@if (!loading && !errorMessage && ticket) {
  <div class="ticket-details">
  <div class="ticket-details-section">
    <h2>{{ ticket.fields.summary }}</h2>
    @if (getName(ticket.fields); as name) {
      <p><strong>Reporter:</strong> {{ name }}</p>
    }@else {
      <p style="color: red;"><strong>Reporter:</strong>Pas de nom trouvé</p>
    }
    <p><strong>Créé le:</strong> {{ formatDate(ticket.fields.created) }}</p>
    <p><strong>Statut:</strong> {{ ticket.fields.status?.name }}</p>
    <p><strong>Key:</strong> {{ ticket.key}} </p>
    <p><strong>Priorité:</strong> {{ ticket.fields.priority?.name }}</p>  
    <p><strong>Description:</strong></p>
    <div class="description" [innerHTML]="getDescription()"></div>
    @if (ticket.fields.attachment.length > 0) {
      <div class="attachments-section">
        <h3>Pièces jointes:</h3>
        @for (attachment of ticket.fields.attachment; track attachment.id) {
          <ul class="attachment-list">
            <li class="attachment-item">
              <a [href]="attachment.content" target="_blank" download>
                {{ attachment.filename }} ({{ formatFileSize(attachment.size) }})
              </a>
            </li>
          </ul>
        }
      </div>
    }
  </div>

  <div class="comments-section">
    <h3>Commentaires:</h3>
    @if (sortedComments.length > 0) {
      <ul class="comment-list">
        @for (comment of sortedComments; track comment.id) {        
          <li class="comment">
            <p class="comment-meta">
              <strong>{{ comment.author?.displayName || 'Chargement...' }}</strong> - {{ formatDate(comment.created) }}
            </p>
            <div class="comment-body" [innerHTML]="getCommentBody(comment)"></div>
          </li>
        }
      </ul>
    } @else {
          <p>Aucun commentaire pour le moment.</p>
        }
    

    <div class="add-comment-section">
      <h4>Ajouter commentaire</h4>
      <textarea [(ngModel)]="newComment" rows="4" placeholder="Votre commentaire"></textarea>
      <button (click)="addComment()" [disabled]="addingComment" class="add-comment-button">
        {{ addingComment ? 'Adding...' : 'Ajouter' }}
      </button>
    </div>
  </div>
</div>
}


