<div class="fixed-button">
  <button routerLink="">Revenir au menu</button>
</div>

<h2>Liste des tickets:</h2>


<div class="filter-container">
  <div class="sort-name">
    <label for="sortName">Nom de l'auteur: </label>
    <input 
      type="text" 
      id="sortName" 
      [(ngModel)]="sortName"
      (ngModelChange)="onSortNameChange()" 
      name="sortName"
      placeholder="Entrer un nom">
  </div>

  <div class="sort-state-selection">
    <label for="sortEtat">Status :</label>
    <select id="sortEtat" [(ngModel)]="sortEtat">
      <option value="Terminé(e)">Terminé</option>
      <option value="À faire">À faire</option>
      <option value="Revue en cours">Revue en cours</option>
      <option value="Tous">Tous</option>
    </select>
  </div>
</div>

@if (loading) {
  <p>Loading...</p>
} @else if (error) {
  <p>Error: {{ error }}</p>
} @else {
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Résumé</th>
        <th (click)="sortBy('reporter')" [class.sorted]="sortColumn === 'reporter'">
          Reporter @if (sortColumn === 'reporter') {<span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>} 
        </th>
        <th (click)="sortBy('status')" [class.sorted]="sortColumn === 'status'">
          Status @if (sortColumn === 'status') {<span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>} 
        </th>
        <th (click)="sortBy('created')" [class.sorted]="sortColumn === 'created'">
          Date de création @if (sortColumn === 'created') {<span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>}
        </th>
      </tr>
    </thead>
    <tbody>
      @for (issue of sortedIssues; track issue.key) {
        @if (printIt(issue)) {
          <tr (click)="showTicket(issue.key)" class="clickable-row">
            <td>{{ issue.key }}</td>
            <td 
              (mouseenter)="showDescription(issue)"
              (mouseleave)="hideDescription()"
              style="position: relative;">
              {{ issue.fields.summary }}
              @if (hoveredTicket === issue && hoveredTicketDescription) {
                <div class="description-tooltip" [innerHTML]="hoveredTicketDescription"></div>
              }
              
            </td>
            <td>{{ issue.fields.customfield_10067 }}</td>
            <td>{{ issue.fields.status.name }}</td>
            <td>{{ formatDate(issue.fields.created) }}</td>                  
          </tr>
        }
      }
      
    </tbody>
  </table>
}

