<div class="fixed-button">
  <button routerLink="">Revenir au menu</button>
</div>

<h2>Liste des tickets:</h2>


<div class="filter-container">
  <div class="sort-name">
    <label for="sortName">Rechercher: </label>
    <input 
      type="text" 
      id="sortName" 
      [(ngModel)]="sortName"
      (ngModelChange)="onSortChange()" 
      name="sortName"
      placeholder="Nom, titre ou clé">
  </div>

  <div class="sort-state-selection">
    <label for="sortEtat">Status :</label>
    <select id="sortEtat" [(ngModel)]="sortEtat" (ngModelChange)="onSortChange()">
      @for (status of availableStatuses; track status) {
        <option [value]="status">{{ status }}</option>
      }
    </select>
  </div>
</div>

@if (loading) {
  <p>Chargement...</p>
} @else if (errorMessage) {
  <p style="color: red;">{{ errorMessage }}</p>
} @else {
  <table>
    <thead>
      <tr>
        <th>Clé</th>
        <th>Titre</th>
        <th (click)="sortBy('reporter')" [class.sorted]="sortColumn === 'reporter'">
          Reporter @if (sortColumn === 'reporter') {<span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>} 
        </th>
        <th (click)="sortBy('status')" [class.sorted]="sortColumn === 'status'">
          Status @if (sortColumn === 'status') {<span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>} 
        </th>
        <th (click)="sortBy('created')" [class.sorted]="sortColumn === 'created'">
          Date de création @if (sortColumn === 'created') {<span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>}
        </th>
      </tr>
    </thead>
    <tbody>
      @for (issue of issuesToShow; track issue.key) {
          <tr (click)="showTicket(issue.key)" class="clickable-row">
            <td>{{ issue.key }}</td>
            <td 
              (mouseenter)="showDescription(issue)"
              (mouseleave)="hideDescription()"
              style="position: relative;">
              {{ issue.fields.summary }}
              @if (hoveredTicket === issue && hoveredTicketDescription) {
                <div class="description-tooltip" [innerHTML]="hoveredTicketDescription"></div>
              }
              
            </td>
            @if (getName(issue.fields); as name) {
              <td>{{ name }} </td>
            }@else {<td style="color: red;">Pas de nom</td>}
            <td>{{ issue.fields.status.name }}</td>
            <td>{{ formatDate(issue.fields.created) }}</td>                  
          </tr>
        }
      
    </tbody>
  </table>
  <div class="page-button"> 
    <button (click)="previousPage()" [disabled]="page === 1"> ← </button> 
    <span>Page:{{ page }}/{{ pageMax }}</span>
    <button (click)="nextPage()" [disabled]="page === pageMax"> → </button> 
  </div> 
}

