<!-- <h1>Créer un ticket</h1>

<form (ngSubmit)="onSubmit()">
  
  <div>
    <label for="name">Nom: </label>
    <input 
      type="text" 
      id="name" 
      [(ngModel)]="name" 
      name="blblb" 
      placeholder="Entrer votre nom"
      required>
  </div>
  
  <div>
    <label for="surname">Prénom: </label>
    <input 
    type="text" 
    id="surname" 
    [(ngModel)]="surname" 
    name="surname"
    placeholder="Entrer votre prénom" 
    required>
  </div>
  
  <div>
    <label for="mail">Email: </label>
    <input 
    type="email" 
    id="mail" 
    [(ngModel)]="mail" 
    name="mail" 
    placeholder="Entrer votre mail"
    required>
  </div>
  
  <div>
    <label for="summary">Objet: </label>
    <input 
    type="text" 
    id="summary" 
    [(ngModel)]="summary" 
    name="summary"
    placeholder="L'objet ou résumé du ticket" 
    required>
  </div> 
  
  
  <div>
    <label for="description">Description:</label>
    <textarea 
    id="description" 
    [(ngModel)]="description" 
    name="description" 
    rows="5"
    placeholder="Expliquer votre problème" 
    required>
  </textarea>
</div>

<div *ngIf="errorMessage" style="color: red;">
  {{ errorMessage }}
</div>
<button type="submit">Créer le ticket</button> 
</form>
<br><br><br>
<button routerLink="">Revenir au menu</button> -->


<div *ngIf="!ticketCreated">
  <h1>Créer un ticket</h1>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nom: </label>
      <input 
        type="text" 
        id="name" 
        [(ngModel)]="name" 
        name="name" 
        placeholder="Entrer votre nom"
        required>
    </div>
    
    <div>
      <label for="surname">Prénom: </label>
      <input 
        type="text" 
        id="surname" 
        [(ngModel)]="surname" 
        name="surname"
        placeholder="Entrer votre prénom" 
        required>
    </div>
    
    <div>
      <label for="mail">Email: </label>
      <input 
        type="email" 
        id="mail" 
        [(ngModel)]="mail" 
        name="mail" 
        placeholder="Entrer votre mail"
        required>
    </div>
    
    <div>
      <label for="summary">Objet: </label>
      <input 
        type="text" 
        id="summary" 
        [(ngModel)]="summary" 
        name="summary"
        placeholder="L'objet ou résumé du ticket" 
        required>
    </div> 
    
    <div>
      <label for="description">Description:</label>
      <textarea 
        id="description" 
        [(ngModel)]="description" 
        name="description" 
        rows="5"
        placeholder="Expliquer votre problème" 
        required>
      </textarea>
    </div>

    <div *ngIf="errorMessage" style="color: red;">
      {{ errorMessage }}
    </div>
    
    <button type="submit">Créer le ticket</button> 
  </form>
</div>

<div *ngIf="ticketCreated">
  <h2 style="color: green;">Ticket créé avec succès!</h2>
</div>

<br><br><br>
<button routerLink="">Revenir au menu</button>